body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.divOne {
  background-color: aqua;
  width: 400px;
  height: 360px;
text-align: center;
margin: auto;
border: solid;
}


.divTwo {
  background-color: aqua;
  width: 400px;
  height: 460px;
text-align: center;
margin: auto;
border: solid;
}